[Unit]
Description=node_exporter
After=network.target

[Service]
ExecStart=make -f /home/faustasbutkus/projects/home-system/Makefile run-node-exporter
User=faustasbutkus
Group=faustasbutkus
Restart=always

[Install]
WantedBy=default.target