[Unit]
Description=prometheus
After=network.target

[Service]
ExecStart=sudo docker run --rm \
          		--network host \
          		-v prometheus-data:/prometheus \
          		prometheus
User=faustasbutkus
Group=faustasbutkus
Restart=always

[Install]
WantedBy=default.target